@font-face {
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-display: swap;
  src: local("Hanken Grotesk Medium"),
    url("/assets/fonts/static/HankenGrotesk-Medium.woff2") format("woff2"),
    url("/assets/fonts/static/HankenGrotesk-Medium.woff") format("woff");
}

@font-face {
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-display: swap;
  src: local("Hanken Grotesk Bold"),
    url("/assets/fonts/static/HankenGrotesk-Bold.woff2") format("woff2"),
    url("/assets/fonts/static/HankenGrotesk-Bold.woff") format("woff");
}

@font-face {
  font-family: "Hanken Grotesk";
  font-weight: 800;
  font-display: swap;
  src: local("Hanken Grotesk ExtraBold"),
    url("/assets/fonts/static/HankenGrotesk-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/static/HankenGrotesk-ExtraBold.woff") format("woff");
}

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(221, 100%, 96%);
  --clr-neutral-300: hsl(241, 100%, 89%);

  --clr-primary-400: hsl(223, 30%, 27%);

  --clr-accent-red-400: hsl(0, 100%, 67%);
  --clr-accent-yellow-400: hsl(39, 100%, 56%);
  --clr-accent-green-400: hsl(166, 100%, 37%);
  --clr-accent-blue-400: hsl(234, 85%, 45%);

  --ff-base: Hanken Grotesk, sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-ExtraBold: 800;

  --fs-400: 1.125rem;
  --fs-800: 1.5rem;
  --fs-1100: 2rem;
  --fs-1500: 4.5rem;
}

/*  Start reset
https://piccalil.li/blog/a-more-modern-css-reset/
Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
